<!-- This should give you a list of people that the current user
    profiles  -->
<div class="center container" style="margin-top: 100px !important">
  <h2>Users that you follow</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last</th>
        <th>User Name</th>
        <th>Unfollow</th>

      </tr>
    </thead>
    <tbody>
      <% follower.forEach(followers=> { %>
        <tr>
          <td>
            <a href="<%= `/follow/${followers._id}` %>">
              <%= followers.fullName %>
            </a>
          </td>
          <td>
            <%= followers.last %>
          </td>
          <td>
            <%= followers.userName %>
          </td>

          <!-- <td>
        <a href="<%=`follow/${followers._id}/edit`%>">
          Unfollow
        </a>
      </td> -->
          <td>
            <a href="<%= `follow/${followers._id}/delete?_method=DELETE` %>"
              onclick="return confirm('Are you sure you want to unfollow this user?')" a>Unfollow</a>
          </td>

        </tr>
        <% }); %>
    </tbody>
  </table>
</div>