<h1 class="center">Follow data for
    <%= follow.name %>
  </h1>
  
  <table class="table">
    <tr>
      <th>Name</th>
      <td>
        <%= follow.fullName %>
      </td>
    </tr>
    <tr>
      <th>User Name</th>
      <td>
        <%= follow.userName%>
      </td>
    </tr>
  </table>
  <!-- Necessary?  -->
  <p>This follower has
    <%= follow.profile.length %> associated profile(s)
  </p>
  
  <div>
    <a class="button" href="<%=`/follow/${follow._id}/edit`%>">
      Unfollow details
    </a>
  </div>
  <div>
    <a class="button" href="<%= `/follow/${follow._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to unfollow this profile?')" a>Unfollow</a>
  </div>
  <div>
    <a class="button" href="/follow">View all follow</a>
  </div>