<div id="content" class="col-sm-8 col-md-6 col-lg-6" style="top: 100px !important;">
  <div class="box home-box header-font" ><h1>Who to follow:</h1></div>
  <div class="line"></div>

  <% users.forEach(other=> { %>
      <% if (users) {%>
          <% if (users.email !=other.email) { %>
              <div class="box">
                  <div class="form-group row">
                      <!-- <div class="col-sm-2 col-md-2">
                          <img src="../images/self.png" class="big-symbol" />
                      </div> -->
                      <div class="col-sm-7 col-md-7">
                          <p class="header-font">
                              <%= other.userName %>
                          </p>
                          <p class="fullName text-secondary">
                              @<%= other.fullName %>
                          </p>
                      </div>

                      <div class="right-align">
                        <!-- .includes(other.email) -->
                        <% if(users.following) { %>
                            <form method="POST" action="<%= `/user/${other.email}?_method=PUT` %>">
                                <button type="submit" class="btn button btnLogin unfollow">Unfollow</button>
                            </form>
                            <% } else { %>
                                <form method="POST" action="<%= `/user/${other.email}?_method=PUT` %>">
                                    <button type="submit" class="btn button btnLogin following">Follow</button>
                                </form>
                                <% } %>
                    </div>
                     
                  </div>
              </div>
              <div class="line"></div>
              <%}%>
                  <%} else {%>
                      <div class="box">
                          <div class="form-group row">
                              <div class="col-sm-2 col-md-2">
                                  <img src="../images/self.png" class="big-symbol" />
                              </div>
                              <div class="col-sm-7 col-md-7">
                                  <p class="header-font">
                                      <%= other.userName %>
                                  </p>
                                  <p class="fullName text-secondary">
                                      @<%= other.fullName %>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>
                      <%}%>
                          <% }); %>
</div>